:root {
  --background: #648aed;
  --main-color: #f1e96e;
  --second-color: #fab3d5;
  --light-color: white;
}

.component-container {
  font-family: "Sour Gummy", serif;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#from {
  background: var(--light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 16px;
  width: 50%;
  height: 35px;
  text-align: center;
}

#to {
  background: var(--second-color);
  border: 2px solid var(--light-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 18px;
  width: 50%;
  text-align: center;
  color: var(--light-color);
  font-weight: bold;
  height: 35px;
}

#from:focus, #to:focus {
  outline: none;
}

#to::placeholder {
  opacity: 1;
  color: inherit;
}

label {
  width: 50px;
  display: inline-block;
  text-align: start;
  margin-left: 8px;
}

#to-label {
  color: var(--light-color);
  font-weight: bold;
}

#swap-button {
  font-family: "Sour Gummy", serif;
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 10px auto;
  padding-right: 25px;
}