:root {
  --background: #648aed;
  --main-color: #f1e96e;
  --second-color: #fab3d5;
  --light-color: white;
}

html {
  scrollbar-color: var(--main-color) var(--second-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--second-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.component-container {
  font-family: "Sour Gummy", serif;
  text-align: center;
}

/* Length, Steps to Distance, Speed, Temperature, Weight */

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#from, #value1, #value2 {
  background: var(--light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 16px;
  width: 120px;
  height: 35px;
  text-align: center;
}

#to {
  background: var(--second-color);
  border: 2px solid var(--light-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 18px;
  width: 120px;
  text-align: center;
  color: var(--light-color);
  font-weight: bold;
  height: 35px;
}

#from:focus,
#to:focus,
#start-date:focus,
#end-date:focus,
#result:focus,
#value1:focus, #value2:focus {
  outline: none;
}

#to::placeholder,
#result::placeholder {
  opacity: 1;
  color: inherit;
}

label {
  width: 10px;
  display: inline-block;
  text-align: start;
  margin-left: 8px;
  font-size: 18px;
}

#to-label {
  color: var(--light-color);
  font-weight: bold;
}

#swap-button {
  font-family: "Sour Gummy", serif;
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin: 10px auto 15px auto;
}

/* Days Calculator */

.input-container.days-calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto auto 15px auto;
  width: 80%;
}

.label-days-calculator {
  width: fit-content;
  display: inline-block;
  text-align: start;
  margin: 0 auto 5px 0;
  font-size: 18px;
}

#start-date,
#end-date {
  background: var(--light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 16px;
  width: 100%;
  height: 35px;
  text-align: center;
}

#result {
  background: var(--second-color);
  border: 2px solid var(--light-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 18px;
  width: 75%;
  text-align: center;
  color: var(--light-color);
  font-weight: bold;
  height: 35px;
}

/* Rule of three calculator */

.grid-container {
 display: grid;
 justify-content: center;
}

.flex-container {
  display: flex;
}

p {
  margin: 17px;
}