:root {
  --background: #648aed;
  --main-color: #f1e96e;
  --second-color: #fab3d5;
  --light-color: white;
}

html {
  text-shadow: -1px -1px 2px color-mix(in srgb, var(--background) 90%, black),
    1px -1px 2px color-mix(in srgb, var(--background) 90%, black),
    -1px 1px 2px color-mix(in srgb, var(--background) 90%, black),
    1px 1px 2px color-mix(in srgb, var(--background) 90%, black),
    -1px -1px 0 var(--background), 1px -1px 0 var(--background),
    -1px 1px 0 var(--background), 1px 1px 0 var(--background);
  background-image: radial-gradient(
      circle at 100% 150%,
      var(--background) 24%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 24%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 28%,
      var(--background) 28%,
      var(--background) 36%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 36%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      var(--background) 24%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 24%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 28%,
      var(--background) 28%,
      var(--background) 36%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 36%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 10%,
      var(--background) 10%,
      var(--background) 23%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 23%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 30%,
      var(--background) 30%,
      var(--background) 43%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 43%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 50%,
      var(--background) 50%,
      var(--background) 63%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 63%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 5%,
      var(--background) 5%,
      var(--background) 15%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 15%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 20%,
      var(--background) 20%,
      var(--background) 29%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 29%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 34%,
      var(--background) 34%,
      var(--background) 44%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 44%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 5%,
      var(--background) 5%,
      var(--background) 15%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 15%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 20%,
      var(--background) 20%,
      var(--background) 29%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 29%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 34%,
      var(--background) 34%,
      var(--background) 44%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 44%,
      color-mix(in srgb, var(--background) 80%, var(--light-color)) 49%,
      transparent 49%,
      transparent
    );
  background-size: 70px 35px;
  color: var(--main-color);
  font-family: "Sour Gummy", serif;
  margin-top: 20px;
  height: fit-content;
  width: 100%;
  margin-top: 0;
  overflow: scroll;
  scrollbar-color: var(--main-color) var(--second-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--second-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

body {
  margin-bottom: 50px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 770px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  display: none;
  border-bottom-right-radius: 10px;
}

#hamburger-menu {
  display: block;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: var(--main-color);
  margin: 6px 0;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}

#hamburger-menu.active .hamburger-icon:nth-child(1) {
  transform: rotate(45deg) translate(6px, 3px);
}

#hamburger-menu.active .hamburger-icon:nth-child(2) {
  opacity: 0;
}

#hamburger-menu.active .hamburger-icon:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -6px);
}

#menu {
  display: none;
  list-style-type: none;
  padding: 0;
  position: fixed;
  left: 30px;
  width: fit-content;
  z-index: 999;
}

body.menu-open .menu-overlay {
  overflow: hidden;
}

#menu.active {
  display: block;
}

#menu li {
  padding: 6px 0;
}

.menu-title {
  font-size: 20px;
  color: var(--second-color);
  margin: 10px 0 -5px 0;
}

#menu a {
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

#menu a:hover {
  text-decoration: underline var(--main-color);
  font-size: 19px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin: 10px auto 0 auto;
  color: var(--light-color);
}

.tools-container {
  display: flex;
  flex-direction: column;
}

.class-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}

h4 {
  font-size: 30px;
  margin: 50px auto 20px auto;
  color: var(--second-color);
}

.accordion-container {
  background: color-mix(in srgb, var(--light-color) 30%, transparent);
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 15px color-mix(in srgb, var(--background) 80%, black);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  flex: 1 1 calc(30% - 30px);
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.3s ease;
}

.accordion-container.active {
  height: 290px;
}

.accordion-description {
  font-size: 16px;
  color: var(--light-color);
  margin: 5px auto auto auto;
  text-align: center;
  font-weight: normal;
  padding: 10px;
}

.accordion-content {
  display: none;
  height: 100%;
  cursor: default;
}

.accordion-container.active .accordion-content {
  display: block;
}

.accordion-container.days-calculator.active {
  height: 350px;
}

.accordion-container.finance,
.accordion-container.text {
  min-width: 355px;
  max-width: 355px;
}

.accordion-container.finance.active {
  height: 470px;
}

.accordion-container.text.case-converter.active {
  height: 400px;
}

.accordion-container.text.compare.active {
  height: 420px;
}

.accordion-container.text.counter.active {
  height: 480px;
}

.accordion-container.text.sort.active {
  height: 320px;
}

.accordion-container.health.active {
  height: 390px;
}

.accordion-container.water-intake.active {
  height: 300px;
}

.accordion-container.WHtR {
  min-width: 320px;
  max-width: 320px;
}

.accordion-container.WHtR.active {
  height: 420px;
}

.accordion-container.text.password {
  min-width: 300px;
  max-width: 300px;
}

.accordion-container.text.password.active {
  height: 370px;
}

object {
  width: 100%;
  height: 100%;
}

h6 {
  margin: 15px 0 10px 0;
  font-size: 22px;
  text-align: center;
  position: relative;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform: rotate(0deg);
  position: absolute;
  right: 20px;
  top: 14%;
  transform: translateY(-50%) rotate(315deg);
  transition: transform 0.3s ease;
}

.accordion-container.active h6 .arrow {
  transform: translateY(-10%) rotate(135deg);
}
