<link
  href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="health.css" />

<div class="component-container">
  <div class="input-container">
    <label id="height-label" for="height">Height (cm)</label>
    <input
      type="text"
      placeholder="Enter height (cm)"
      id="height"
      maxlength="4"
      oninput="calculateBMI()"
      onkeydown="restrictInput(event)"
    />
  </div>

  <div class="input-container">
    <label id="weight-label" for="weight">Weight (kg)</label>
    <input
      type="text"
      placeholder="Enter weight (kg)"
      id="weight"
      maxlength="4"
      oninput="calculateBMI()"
      onkeydown="restrictInput(event)"
    />
  </div>

  <div class="input-container result">
    <label id="bmi-label" for="bmi">BMI Result</label>
    <input type="text" placeholder="Result" id="result" disabled />
  </div>
</div>

<script>
  const heightInput = document.getElementById("height");
  const weightInput = document.getElementById("weight");
  const result = document.getElementById("result");

  function calculateBMI() {
    const heightValue = parseFloat(heightInput.value);
    const weightValue = parseFloat(weightInput.value);

    if (
      isNaN(heightValue) ||
      isNaN(weightValue) ||
      heightValue <= 0 ||
      weightValue <= 0 ||
      heightValue > 250 ||
      weightValue > 300
    ) {
      result.value = "";
      return;
    }

    const heightInMeters = heightValue / 100;
    const bmi = weightValue / (heightInMeters * heightInMeters);
    let resultCategory = "";

    if (bmi < 18.5) {
      resultCategory = " - Underweight";
    } else if (bmi >= 18.5 && bmi < 25) {
      resultCategory = " - Normal";
    } else if (bmi >= 25 && bmi < 30) {
      resultCategory = " - Overweight";
    } else {
      resultCategory = " - Obesity";
    }

    result.value = Number(bmi.toFixed(1)).toString() + resultCategory;
  }

  restrictInput(event);
</script>
<script src="../commonFunctions.js"></script>
