:root {
  --background: #648aed;
  --main-color: #f1e96e;
  --second-color: #fab3d5;
  --light-color: white;
}

.component-container {
  font-family: "Sour Gummy", serif;
  text-align: center;
}

label {
  width: fit-content;
  display: inline-block;
  text-align: start;
  margin-bottom: 5px;
  font-size: 18px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto auto 15px auto;
  width: 70%;
}

.input-container.result {
  width: 75%;
}

#height, #weight {
  background: var(--light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 16px;
  width: 100%;
  height: 35px;
  text-align: center;
}

#result-label {
  color: var(--light-color);
  font-weight: bold;
}

#result {
  background: var(--second-color);
  border: 2px solid var(--light-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: var(--light-color);
  font-weight: bold;
  height: 35px;
}

#height:focus, #weight:focus, #result:focus {
  outline: none;
}

#result::placeholder {
  opacity: 1;
  color: inherit;
}