:root {
  --background: #648aed;
  --main-color: #f1e96e;
  --second-color: #fab3d5;
  --light-color: white;
}

html {
  scrollbar-color: var(--main-color) var(--second-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--second-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.component-container {
  font-family: "Sour Gummy", serif;
  text-align: center;
}

/* Case Converter, Compare, Counter, Sort */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto auto 15px auto;
  width: 95%;
}

textarea {
  background: var(--light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  font-family: "Sour Gummy", serif;
  font-size: 16px;
  width: 100%;
  height: 200px;
}

textarea:focus {
  outline: none;
}

label {
  width: fit-content;
  display: inline-block;
  text-align: start;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}

span {
  color: var(--light-color);
  font-size: 18px;
}

/* Case Converter, Counter */

.input-container.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0 20%;
}

.input-container.result > :last-child {
  grid-column: span 2;
  justify-self: center;
}

/* Case Converter */

.case-converter {
  display: flex;
  flex-direction: column;
}

.case-converter:last-child {
  padding-bottom: 50px;
}

/* Compare */

.input-container.result-comparison {
  padding-bottom: 50px;
  text-align: start;
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.compare-result {
  margin-bottom: 15px;
  line-height: 0;
  display: none;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
}

.legend {
  font-size: 14px;
  display: none;
}

.legend-text {
  margin: 2px 0;

}

.legend-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border: 1px solid var(--light-color);
  border-radius: 50%;
}

#differences {
  font-family: "Sour Gummy", serif;
  font-size: 18px;
  white-space: pre-wrap;
  font-weight: bold;
}

/* Sort */

.input-container.sorted-result {
  text-align: start;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 50px; 
}

#sorted-text {
  color: white;
  font-size: 18px;
  overflow-wrap: break-word;
  max-width: 70%;
  white-space: normal;
}
